ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #222;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9c9c9c;
}

li button {
  background: #ff0432;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

li button:hover {
  background: #b3002d;
}
